* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-container {
    display: grid;
    grid-template: 1fr 4fr / 1fr 4fr;
    height: 100vh;
}

.header {
    background-color: rgb(24, 108, 33);
    grid-area: 1 / 2 / 2 / -1;
}

.sidebar {
    background-color: rgb(21, 199, 184);
    grid-area: 1 / 1 / 3 / 2;
}

.main-content {
    background-color: aliceblue;
    grid-area: 2 / 2 / 3 / 3;
}